#sep {
width: 920px;
height: 2px;
margin: 0 auto;
background: url(https://4.bp.blogspot.com/-yvrAua9cgqA/V4RcimdcnPI/AAAAAAAASqU/MpNrIjEcYtsYTHz1TCoxBLmafbqIFdKQQCLcB/s1600/sep.gif) repeat-x;
}
#underbg {
background: url(https://3.bp.blogspot.com/-Ntwr2fXlt3I/V4RcilE9RfI/AAAAAAAASqc/UNrCumcidUw1yo9jB4JsOG8_sUv8jDwSACLcB/s1600/shadow.png) repeat-y;
width: 970px;
padding: 0px 0 15px;
margin: 0 auto;
}
#slide-shadow {
width: 960px;
height: 27px;
background: url(https://2.bp.blogspot.com/-0hvsC5ZV8Qs/V4RcjFwIqZI/AAAAAAAASqg/xRBdNqTB7A0yPEY4B08G_KZv7Yvl0nC9wCLcB/s1600/slide-shadow.png) no-repeat;
padding-bottom: 43px;
}
#slidernbt {
clear: both;
position:relative;
background: #000 url(https://2.bp.blogspot.com/-hzM4lWpwMCM/V4RchNhj4aI/AAAAAAAASp0/bZ51Nrlq6aUv9hXoIhg-aFSJpuFZHHeywCLcB/s1600/loading.gif) no-repeat 50% 50%;
width: 960px;
height: 390px !important;
margin: 7px auto 9px;
}
#slidernbt .slidedesc {
font-size: 12px;
margin: 0px 0 0 0px;
padding:0;
color:#565656 !important;
}
.slidetit {
font-size: 15px;
color: #fff;
margin-bottom: 0px;
display: block;
}
#slidernbt img {
display: none !important;
}
