
@font-face:{
  font-family: 'Roboto', sans-serif;
  font-family: 'Microsoft JhengHei', '微軟正黑體', Verdana, Arial, 'Microsoft YaHei' !important;}

html{
  background-color: black;
  color: white;}

body{
  font-family: 'Roboto', 'Microsoft JhengHei', '微軟正黑體', Verdana, Arial !important;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  min-width:1000px;
}

.menu{
  color: white;
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  padding: 10px 10px 10px 10px;
}



.footer{
  padding-bottom:5px;
  margin-left: auto;
  margint-right: auto;
}
